<% include ./partials/header %>
<p>hello world</p>
<div class="ui main text container segment">
    <div class="ui huge header">New Account </div>
    <form class="ui form action" action="/admin/admin_suppliers/<%= Supplier._id %>?_method=PUT" method="POST">
        
        <div class="field">
            <label>FirstName</label>
            <input required type="text" placeholder="FirstName" value="<%= Supplier.FirstName %>" name="SupplierAccount[FirstName]">
        </div>

         
        <div class="field">
            <label>LastName</label>
            <input required type="text" placeholder="LastName" value="<%= Supplier.LastName %>"  name="SupplierAccount[LastName]">
        </div>

        <div class="field">
            <label>UserName</label>
            <input required type="text" placeholder="UserName" value="<%= Supplier.UserName %>" name="SupplierAccount[UserName]">
        </div>

        <div class="field">
            <label>Password</label>
            <input required type="password" placeholder="Password" value="<%= Supplier.Password %>" name="SupplierAccount[Password]">
        </div>

        



        <div class="field">
            <label>CardNumber</label>
            <input required type="number" placeholder="CardNumber" value="<%= Supplier.CardNumber %>" name="SupplierAccount[CardNumber]">
        </div>

        <div class="field">
            <label>CVV</label>
            <input required type="number" placeholder="CVV" value="<%= Supplier.CVV %>" name="SupplierAccount[CVV]">
        </div>

        <div class="field">
            <label>ExpirationMonth</label>
            <input required type="number" placeholder="ExpirationMonth" value="<%= Supplier.ExpirationMonth %>"  name="SupplierAccount[ExpirationMonth]">
        </div>

        <div class="field">
            <label>ExpirationYear</label>
            <input required type="number" placeholder="ExpirationYear" value="<%= Supplier.ExpirationYear %>" name="SupplierAccount[ExpirationYear]">
        </div>

        

        <div class="field">
            <label>Email</label>
            <input required type="email" placeholder= "Email" value="<%= Supplier.Email %>" name="SupplierAccount[Email]"></input>
        </div>


        <div class="field">
            <label>PhoneNumber</label>
            <input required type="number" placeholder="PhoneNumber" value="<%= Supplier.PhoneNumber %>" name="SupplierAccount[PhoneNumber]">
        </div>

        <div class="field">
            <label>Address</label>
            <input required type="text" placeholder="Address" value="<%= Supplier.Address %>" name="SupplierAccount[Address]">
        </div>

        

        <button  class="ui violet basic button"> Update</button>


    </form>


</div>